
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cryptoscanner</title>

    <!-- vendor css -->
    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="/lib/chartist/css/chartist.css" rel="stylesheet">
    <link href="/lib/rickshaw/css/rickshaw.min.css" rel="stylesheet">
    <style>
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
    </style>
    <!-- Slim CSS -->
    <link rel="stylesheet" href="/css/slim.css">

  </head>
  <body>
    <div class="slim-header">
      <div class="container">
        <div class="slim-header-left">
          <h2 class="slim-logo"><a href="index.html">cryptosignal<span>.</span></a></h2>

          <div class="search-box">
            <input type="text" class="form-control" placeholder="Search">
            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
          </div><!-- search-box -->
        </div><!-- slim-header-left -->
      </div><!-- container -->
    </div><!-- slim-header -->


<div class="slim-navbar">
      <div class="container">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="icon ion-ios-home-outline"></i>
              <span>Home</span>
            </a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/coins">
              <i class="icon ion-ios-analytics-outline"></i>
              <span>Coins</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/exchanges">
              <i class="icon ion-ios-analytics-outline"></i>
              <span>Exchanges</span>
            </a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="/setting">
              <i class="icon ion-ios-gear-outline"></i>
              <span>Settings</span>
            </a>
          </li>                    
        </ul>
      </div><!-- container -->
    </div>

  <%= render @view_module, @view_template, assigns %>

    <div class="slim-footer">
      <div class="container">
        <p>Copyright 2019 &copy; </p>
      </div><!-- container -->
    </div><!-- slim-footer -->

    <script src="/lib/jquery/js/jquery.js"></script>
    <script src="/lib/popper.js/js/popper.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/lib/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="/lib/chartist/js/chartist.js"></script>
    <script src="/lib/d3/js/d3.js"></script>
    <script src="/lib/rickshaw/js/rickshaw.min.js"></script>
    <script src="/lib/jquery.sparkline.bower/js/jquery.sparkline.min.js"></script>

    <script src="/js/ResizeSensor.js"></script>
    <script src="/js/dashboard.js"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>    
</body>
</html>
